.App {
  width: 90%;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.container {
  display: flex  !important;
  justify-content: space-between;
}

.container div{
  padding: 10px;
}

table {
  margin-left:auto; 
  margin-right:auto;
}

td {
  border: solid 1px grey !important
}

.App-header {
  background-color: rgb(95, 210, 224);
  height: 30px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
